### Specifying what should be handled by LFS
*.csv filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.svg filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.JPG filter=lfs diff=lfs merge=lfs -text
*.ckpt filter=lfs diff=lfs merge=lfs -text

### Specifying end-of-line handling
# Force apporpaite EOL for Linux and WIndows specific files
*.sh     eol=lf
*.bat    eol=crlf
# Let Git decide for these files
*.txt    text=auto
*.py     text=auto
*.ipynb  text=auto
*.csv    text=auto
# Images should be left alone
*.png    binary
*.jpg    binary
*.jpeg   binary