
# Arguments not to be spec via CLI
glob_random_seed: 222 
glob_root_folder: /data/shared/mzb-workflow/
glob_blobs_folder: /data/shared/mzb-workflow/data/derived/blobs/
glob_local_plot_format: pdf

# Image parsing specific 
impa_image_format: jpg
impa_clip_areas: [2750, 4900] # ignore areas outside of this (bottom right corner)
impa_area_threshold: 5000 # ignore areas smaller than this
impa_gaussian_blur: [21, 21]
impa_gaussian_blur_passes: 3
impa_adaptive_threshold: 351
impa_mask_postprocess_kernel: [11, 11]
impa_mask_postprocess_passes: 5
# impa_save_full_mask_dir: data/derived/project_portable_flume/full_image_masks
impa_bounding_box_buffer: 200
impa_save_clips_plus_features: True

# Run classification routine on image clips 
## Preparation of learning sets (run once if output folder is not there)
## these data will need to be doctored, to move classes like errors 
## and such into specific subfolers
lset_class_cut: order
lset_val_size: 0.1
lset_taxonomy: /data/shared/mzb-workflow/data/MZB_taxonomy.csv

## Finetuning / training config for classifier
trcl_learning_rate: 0.001
trcl_batch_size: 16
trcl_weight_decay: 0
trcl_step_size_decay: 5
trcl_number_epochs: 75
# trcl_gpu_ids: -1 
trcl_save_topk: 1
trcl_num_classes: 8
trcl_model_pretrarch: efficientnet-b2 #resenet50 #efficientnet-b2 #convnext-small #densenet161 #mobilenet
trcl_num_workers: 16
trcl_wandb_project_name: mzb-classifiers
# trai_model_save_append: "-v1"

## Finetuning / training config for skeleton prediction
trsk_learning_rate: 0.0001
trsk_batch_size: 32
trsk_weight_decay: 0
trsk_step_size_decay: 50
trsk_number_epochs: 750
# trsk_gpu_ids: -1
trsk_save_topk: 1
trsk_num_classes: 2
trsk_model_pretrarch: mit_b2 #mit-b2 #efficientnet-b2
trsk_num_workers: 16
trsk_wandb_project_name: mzb-skeletons
# trsk_tversky_loss_w1: 
# trai_model_save_append: "-v1"

## Inference config 
# infe_model_folder: models/mzb-classifiers/ # likely not used to allow renku parse as input
infe_model_ckpt: last # best or last, best is on validation error
infe_num_classes: 8
infe_image_glob: "*_rgb.jpg"

## Skeletonization
# unsupervised skeletonization
skel_class_exclude: errors
skel_conv_rate: 131.6625 #[133.1, 136.6, 133.2, 133.2, 133.2, 118.6, 133.4, 132.0])  # px / mm
# skel_save_usnup_masks: data/derived/project_portable_flume/skeletons/automatic_skeletons/

# supervised skeletonization
skel_label_thickness: 3
skel_label_buffer_on_preds: 25
skel_label_clip_with_mask: False # We need same set data (blobs and skeletonization training set are not the same filenames)
